{% extends 'adv_base' %}

{% block content %}
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
        <tr>Inserted {{ pagination.total }} records.</tr>
        </thead>
        <tbody>
        Redirect to index: <a href="{{ url_for('index.index') }}">Index</a>
        </tbody>
    </table>
</div>
{% if records %}
{{ pagination.info }}
{{ pagination.links }}
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
        <tr><th>#</th><th>Flexible Storage</th></tr>
        </thead>
        <tbody>
        {% for record in records %}
        <tr>
            <td>{{ loop.index + (page - 1) * per_page }}</td>
            <td>{{ record }}</td>
        </tr>
        {% endfor %}
        {% for table in tables %}
        <h2>{{titles[loop.index]}}</h2>
        {{ table|safe }}
        {% endfor %}
        </tbody>
    </table>
</div>
{{ pagination.links }}
{% endif %}
{% endblock %}
